# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment Variables
.env

# Logs
*.logecommerce.db

ecommerce.db
